.div-gral{
    background-color: rgb(249, 244, 171);
    width: 100%;
    height: 100%;
}
.container{
    background-color: rgb(249, 244, 171);
    width: 100%;
    height: screen;
    padding: 0;
    margin: 0;
}