.footer-gral {
    background-color: rgb(9, 59, 3);;
    color: white;
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 5%;
    border-radius: 12px;
    align-items: center;
    margin: 10px;
}

.footer-text{
    font-size: 20px;
    padding: 10px;
}

