.body-div {
    background-color: rgb(9, 59, 3);
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    margin: 10px;
    flex-direction: column;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 95%;
    padding: 8px;
}

.div-nombre-nav {
    padding: 10px;
}

.p-nav {
    width: 100%;
    margin: 10px;
    color: white;
    font-size: 40px;
    justify-content: left;
    text-align: center;
    align-content: center;
}

.div-nav {
    width: 20%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    display: flex;
}

.enlace-nav {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    align-items: right;
    font-size: 20px;
    margin: 5px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    outline: none;
}

.enlace-nav:hover {
    background-color: white;
    color: rgb(9, 59, 3);
    /*  border: 4px solid white;*/
    border-radius: 8px;
    box-shadow: 8px 8px rgb(136, 134, 134)
}

.nav-Search {
    background-color: rgba(255, 255, 255, 0.009) ;
    display: flex;
    width: 20%;
    justify-items: center;
    text-align: center;
}

.label-nav {
    font-size: 20px;
}

.select-nav {
    align-items: center;
    font-size: 20px;
    margin: 5px;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(7, 79, 25);
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;

}

.select-nav:hover {
    background-color: white;
    color: rgb(9, 59, 3);
    /* border: 4px solid white;*/
    border-radius: 8px;
    box-shadow: 8px 8px rgb(136, 134, 134)
}